<div>
  <div class="top">
    <input class="form-control form-control-lg countycode" type="text" placeholder="Enter county PIN"
           aria-label="Enter county code:" [(ngModel)]="pin">
    <button type="button" class="btn btn-primary search" (click)="submit()">Search</button>
  </div>


  <div  class="result-container">
    <h1>Results</h1>
    <div class="alert alert-light" role="alert" *ngIf="properties.length == 0">
      No data to display.
    </div>
    <app-list-item *ngFor="let property of properties" [fetchedData]="property"></app-list-item>
  </div>

</div>

